
Options -MultiViews
RewriteEngine On

# Sirve archivos y directorios existentes directamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirige todo lo demás a index.php
RewriteRule ^ index.php [QSA,L]
